<div class="container-fluid">
  <div class="row bg-dark d-flex align-items-center">
    <div class="col-md-6">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Welcome aboard!</h1>
          <h5 class="fs-18">Share your journey with us.</h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light mr-2" data-toggle="modal" data-target="#newPost">New post</button>
          <a class="btn btn-outline-light" href="#posts">All posts</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img
        src="https://i.imgur.com/O9eqmZy.png"
        alt=""
        width="500px"
        height="500px"
      />
    </div>
  </div>
</div>

<div class="container mb-5 mt-5" id="posts">
  <nav>
    <div
      class="nav nav-tabs d-flex justify-content-center"
      id="nav-tab"
      role="tablist"
    >
      <a
        class="nav-link active text-dark font-weight-bold"
        id="nav-allPosts-tab"
        data-toggle="tab"
        href="#allPosts"
        role="tab"
        aria-controls="nav-allPosts"
        aria-selected="true"
        >All posts</a
      >

      <a 
        (click)="findByIdUser()"
        class="nav-link text-dark font-weight-bold"
        id="nav-myPosts-tab"
        data-toggle="tab"
        href="#myPosts"
        role="tab"
        aria-controls="nav-myPosts"
        aria-selected="false"
        >My posts</a
      >

      <a
        class="nav-link text-dark font-weight-bold"
        id="nav-postsByTheme-tab"
        data-toggle="tab"
        href="#postsByTheme"
        role="tab"
        aria-controls="nav-postsByTheme"
        aria-selected="false"
        >Posts by theme</a
      >
    </div>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="allPosts"
      role="tabpanel"
      aria-labelledby="nav-allPosts"
    >

      <div class="card-columns">
        <div class="card text-center" *ngFor="let post of postsList">
          <div class="card-body">
            <h5 class="card-title m-0">{{post.titulo}}</h5>
            <small class="text-muted">Theme: {{theme.descricao}} </small>
            <p class="card-text mt-3">{{post.texto}}</p>
            <p class="card-text"><small class="text-muted">{{post.dia | date: 'dd/MM/yyy'}} at {{post.dia | date: 'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">by: {{post.usuario.nome}}</small></p>
          </div>
        </div>
      </div>
      
    </div>
    <div
      class="tab-pane fade"
      id="myPosts"
      role="tabpanel"
      aria-labelledby="nav-myPosts-tab"
    >
      <div class="card-columns">
        <div class="card text-center" *ngFor="let post of user.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{post.titulo}}</h5>
            <small class="text-muted">Theme: {{post.tema.descricao}} </small>
            <p class="card-text mt-3">{{post.texto}}</p>
            <p class="card-text"><small class="text-muted">{{post.dia | date: 'dd/MM/yyy'}} at {{post.dia | date: 'HH:mm'}}</small></p>

            <a [routerLink]="['/edit-post', post.id]" class="text-info mr-3" href="">Edit</a>
            <a [routerLink]="['/delete-post', post.id]" class="text-danger" href="">Delete</a>

          </div>
        </div>
      </div>

    </div>
    <div
      class="tab-pane fade"
      id="postsByTheme"
      role="tabpanel"
      aria-labelledby="nav-postsByTheme-tab"
    >
    
      <div class="card-columns" *ngFor="let theme of themesList">
        <div class="card text-center" *ngFor="let post of theme.postagem">
          <div class="card-body">
            <h5 class="card-title m-0">{{post.titulo}}</h5>
            <small class="text-muted">Theme: {{theme.descricao}} </small>
            <p class="card-text mt-3">{{post.texto}}</p>
            <p class="card-text"><small class="text-muted">{{post.dia | date: 'dd/MM/yyy'}} at {{post.dia | date: 'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">by: {{post.usuario.nome}}</small></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="newPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="post.titulo" type="text" class="form-control" id="title" placeholder="Title of your post">
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          <textarea [(ngModel)]="post.texto" class="form-control" name="text" id="text" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="theme">Choose a theme or <a data-dismiss="modal" routerLink="/theme">register a new one</a></label>
          <select class="form-control" name="theme" id="theme" [(ngModel)]="themeId" (change)="findByIdTheme()">
            <option *ngFor="let theme of themesList" value="{{theme.id}}">{{theme.descricao}}</option>
          </select>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="publish()" data-dismiss="modal">Publish</button>
      </div>
    </div>
  </div>
</div>